<body>
  <main role="main">
    <div class="jumbotron">
    <h1>バックナンバー</h1>
      <% @posts.each do |post|%>
        <div class ="row container">
          <p><%= link_to(post.title,"/posts/#{post.id}") %></p>
          <p><%=  image_tag post.image_url.to_s %></p>
        </div>
      <% end %>
    </div>
  </div>

</main>
