<body>
  <main role="main">
    <div class="container backnumber underline">
      <h1>バックナンバー</h1>
      <div class ="col-md-6">
        <ul class="list-group">
          <% @posts.each do |post|%>
          <li class="list-group-item">
            <div class="media">
              <div class="d-flex mr-3">
                <%= link_to(image_tag(post.image_url.to_s,:size =>'64x64') ,"/posts/#{post.id}")   %>
              </div>
              <div class="media-body">
                <h5 class="mt-0"><%= link_to(post.title,"/posts/#{post.id}") %></h5>
                <%= truncate(post.body,length:70) %>
              </div>
            </div>
          </li>
        </ul>
        <div class="row h3 mt-3">
        </div>
          <% end %>
      </div>
    </div>
  </main>
</body>